.homeContainer h1 {
  width: 440px;
  line-height: 1.2;
  letter-spacing: 1.3px;
  margin-bottom: 20px;
}
.homeContainer h3 {
  margin-top: 20px;
  letter-spacing: 1.3px;
  font-size: 18px;
  color: rgb(2, 123, 2);
  font-weight: 500;
}
